<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Food Menu</title>
</head>
<body>
    <div class="container">

        <h1>Food Menu</h1>
        <ul>
            {% for food_item in food_Items %}
            <li>
                <h2>{{ food_item.name }}</h2>
                <p>Description: {{ food_item.description }}</p>
                <p>Price: {{ food_item.price }}</p>
                <img src="{{ food_item.image.url }}" alt="{{ food_item.name }}">
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>